body {
    background-image: url('luxa.org-opacity-changed-pexels-jess-bailey-designs-743986.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

h1 {
  margin: auto;
  padding-top: 1rem;  
  color: rgb(132, 143, 235);
  text-align: center;
}

form {
    margin: auto;
    padding: 2rem;
    text-align: center;
}

img {
    width: 60%;
    height: 60%;
}

figure {
    margin: auto;
    text-align: center;
}

figure figcaption {
    font-size: larger;
    font-weight: bold;
}
